<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fundwiseapp"
        tools:targetApi="31">
        <activity
            android:name=".MainNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.TransactionListActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.AddEditTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".settings.ProfileSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.LoanApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".manager.CustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".customer.FinancialTipsActivity"
            android:exported="false" />
        <activity
            android:name=".customer.CreditHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".customer.LoanRequestActivity"
            android:exported="false" />
        <activity
            android:name=".customer.CashFlowActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.CustomerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.ManagerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>